<!DOCTYPE html>
<html>
<head>
	<title>Student Grades</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="container">
		<h2>Student Grades</h2>
		<table>
			<tr>
				<th>Student Name</th>
				<th>English</th>
				<th>computer science</th>
				<th>Operating System</th>
				<th>Maths</th>
				<th>Average Grade</th>
			</tr>
			<tr>
				<td>John Doe</td>
				<td>90</td>
				<td>85</td>
				<td>95</td>
				<td>80</td>
				<td>87.5</td>
			</tr>
			<tr>
				<td>Jane Smith</td>
				<td>85</td>
				<td>95</td>
				<td>80</td>
				<td>90</td>
				<td>87.5</td>
			</tr>
			<tr>
				<td>Makesh</td>
				<td>80</td>
				<td>90</td>
				<td>85</td>
				<td>95</td>
				<td>87.5</td>
			</tr>
            <tr>
				<td>Adhi</td>
				<td>80</td>
				<td>90</td>
				<td>85</td>
				<td>95</td>
				<td>87.5</td>
			</tr>
		</table>
	</div>
</body>
</html>
